.container {
  font-size: 14px;
  padding: 2vw;
  margin: 0 auto;
  width: fit-content;
}

.container ul {
  padding: 0;
  margin: 0;
}

.container > ul {
  display: grid;
}

.container li {
  list-style: none;
}

.container > ul > li {
  display: block;
  float: left;
  margin: 0.5vw 0;
}

.container li > ul > li {
  float: left;
  padding: 0.5vw;
}

.container input[type="submit"] {
  padding: 0 2vw;
  margin: 0 auto;
  display: block;
}

.inlineError {
  color: white;
  background-color: #ff000080;
  border-radius: 0.5vw;
  padding: 0.5vw;
}

.inlineSuccess {
  color: white;
  background-color: #4caf50;
  border-radius: 0.5vw;
  padding: 0.5vw;
}
